/*
* Header with user avatar and name 
*/

header.site-header {
  height: 400px;
  position: relative;
  top: 120px;
  right: 0;
  left: 0;
  text-align: center;
  background-image: url(/images/batthern-1920x1080.png);
  background-color: #ad6d7a;
  color: white;
}

.centered {
  display: inline-block;
}
  
