/*
* Header with user avatar and name 
*/

header {
  height: 400px;
  width: inherit;  
  position: relative;
  top: 120px;
  text-align: center;
  background-image: url(/images/diagmonds--dark--1920x1080.png);
  background-color: #ad6d7a;
  color: white;
}

.centered {
  display: inline-block;
}

