/**
* Navigation Bar
*/

nav {
  height: 120px;
  top: 0;
  left: 0;
  right: 0;
  position: fixed;
  z-index: 999;
  padding: 1.5em;
  background:#4056A1;
  color: #ffffff;
}

nav span {
  font-family: 'Bungee', sans-serif;
 }