/**
* Navigation Bar
*/

nav {
  height: 120px;
  top: 0;
  left: 0;
  right: 0;
  position: fixed;
  z-index: 999;
  padding: 1.5%;
  background-image: url(/images/wall--4-light-1920x1080.png);
  color: #ffffff;
  font-size: 50px;
  display: flex;
  justify-content: center;
}

nav span {
  font-family: 'Bungee', sans-serif;
  margin: auto;
 }