


#tweet-container output {
  width: 95%;
  margin: auto;
  display: block;
  border: none;
  border-bottom: 3px solid black;
  font-size: 30px;
  font-weight: bold;
  padding: 25px 0.5% 35px 0.5%

}

article {
  border: 3px solid black;
  overflow: auto;
  margin-bottom: 40px;
  opacity: 60%;
  font-weight: bold;
}

article:hover {
  box-shadow: 10px 10px #4056A1;
  opacity: 100%;
}

article:hover .handle {
  display: block;
}

.handle {
  float: right;
  opacity: 50%;
  display: none;
}

.username {
  float: left;
  font-weight: lighter;
  display: flex;
  align-items: center;
}

.name {
  padding: 0 10px;
}
.top {
  padding: 25px 3% 25px 3%;
  font-size: 35px;
}

.date-created {
  float: left;
}

.icons {
  float: right;
  display: flex;
  flex-direction: row;
 }

 .fas {
   padding: 0 10px;
 }

.bottom {
  padding: 20px 3% 40px 3%;
  font-size: 25px;
}

